.hero {
  padding: 3rem;
}

.hero__text-slogan {
  align-items: center;
  background-color: rgba(245, 71, 71, 0.1);
  border-radius: 3rem;
  display: flex;
  gap: .5rem;
  justify-content: center;
  margin: 0 auto;
  max-width: 200px;
}

.hero__text-slogan p {
  color: var(--orange);
  font-size: 15px;
}

.hero__text-tittle {
  color: var(--black);
  font-size: 2rem;
  line-height: 2.5rem;
  margin: 2rem 0;
  text-align: center;
}

.hero__text-tittle span {
  color: var(--orange);
}

.hero__text-para {
  color: var(--grey);
  text-align: center;
  font-size: 15px;
  line-height: 2rem;
}

.hero__buttons {
  align-items: center;
  display: flex;
  font-size: 13px;
  flex-direction: column-reverse;
  justify-content: center;
  margin: 2rem 0;
  gap: 1.5rem;
}

.hero__buttons button {
  background-color: #fff;
  border: 1px solid transparent;
  cursor: pointer;
}

.hero__buttons button:first-child {
  background-color: var(--orange);
  border-radius: 1rem;
  color: #fff;
  padding: 1rem;
  transition: all ease-in .2s;
  min-width: 200px;
}

.hero__buttons button:first-child:hover {
  background-color: #fff;
  border-color: var(--orange);
  color: var(--orange);
}

.hero__buttons button:last-child {
  align-items: center;
  border-radius: 1rem;
  box-shadow: 5px 5px 10px #f5474727;
  color: #000;
  display: flex;
  padding-right: 2rem;
  justify-content: center;
  max-height: 50px;
  overflow-y: hidden;
  transition: all ease-in .2s;
}

.hero__buttons button:last-child:hover {
  transform: scale(1.1);
}

.hero__image {
  max-width: 100%;
}

@media (min-width: 600px) {
  .hero__text-slogan {
    margin-bottom: 4rem;
  }

  .hero__buttons {
    flex-direction: row;
    gap: 4rem;
    margin-top: 4rem;
  }
}

@media(min-width: 875px) {
  .hero {
    align-items: center;
    display: flex;
    justify-content: center;
  }

  .hero__text {
    max-width: 50%;
  }

  .hero__text-slogan {
    margin: 0;
  }

  .hero__text-para,
  .hero__text-tittle {
    text-align: left;
  }

  .hero__buttons {
    gap: 1rem;
    justify-content: flex-start;
  }

  .hero__buttons button {
    max-width: 50%;
  }

  .hero__buttons button:first-child {
    min-width: 150px;
  }

  .hero__image {
    max-width: 50%;
  }
}

@media(min-width:1080px) {
  .hero {
    padding: clamp(2rem, 10vw, 3rem) clamp(2.5rem, 9.5vw, 8rem);
  }

  .hero__text {
    max-width: 45%;
  }

  .hero__text-slogan {
    padding: 0 0.5rem;
  }

  .hero__text-slogan p {
    font-size: 16px;
  }

  .hero__text-tittle {
    font-size: 36px;
  }

  .hero__text-para {
    font-size: 16px;
  }

  .hero__buttons {
    font-size: 1rem;
    gap: 2rem;
  }

  .hero__image {
    max-width: 55%;
  }
}