* {
  --black: #2E2E2E;
  --grey: #676767;
  --orange: #F54748;
  --orange-color--hsl: 360, 90%, 62%;
  --red: #F86061;
  --yellow: #F9BA45;
}

body {
  font-family: poppins, sans-serif;
  background: #FFF;
}

::selection {
  background: var(--red);
  color: white;
}

img {
  -webkit-user-drag: none;
  -khtml-user-drag: none;
  -moz-user-drag: none;
  -o-user-drag: none;
  user-drag: none;
}